---
lang: id_ID
sitemap:
  priority: 1.0
---
<!DOCTYPE html>

<html>

{% include head.html %}

<body class="antialiased hide-extras">
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&autoLogAppEvents=1&version=v8.0&appId=332393297785870" nonce="GGQhDXCo"></script>
  <!-- data-offcanvas -->
  <div class="marketing off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

      <!-- header -->
      {% include navbar.html %}
      <header>
        <div class="masthead" id='masthead'></div>
      </header>

      <!-- main-content -->
      <section id="main-content" role="main" class="scroll-container">

        <!-- script -->
        <script type="text/javascript">
          $(function () {
            $('#menu_item_index').addClass('is_active');
          });
        </script>

        <!-- row -->
        <div class="row">

          <!-- large-8 -->
          <div class="large-8 medium-8 columns">
            <div class="markdown-body home-categories">

              {% for post in paginator.posts %}
              <!-- article -->
              <div class="article">
                <a class="clearlink" href="{{ post.url | relative_url }}">
                  <h1>{{ post.title }}</h1>
                  <div class="a-content">
                    <div class="a-content-text">
                      <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                    </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                    <a href="{{ post.url | relative_url }}">Read more</a>&nbsp;&nbsp;
                    <span class="date"><time>{{ post.date | date: '%B %d, %Y' }}</time></span>
                    <span>author:&nbsp;</span>
                    {% assign author = site.data.authors[post.author] %}
                    <span class="posted-in"><a target="_blank" href="{{ author.profile }}">{{ author.name }}</a>
                    </span>
                    <span>category:&nbsp;</span>
                    {% for category in post.categories %}
                    <span class="posted-in"><a href="{{ "/category/" | absolute_url}}{{ category | downcase }}">{{ category }}</a>
                    </span>
                    {% endfor %}
                    <span>tag:&nbsp;</span>
                    {% for tag in post.tags %}
                    <span class="posted-in"><a href="{{ "/tag/" | absolute_url}}{{ tag | downcase }}">{{ tag }}</a>
                    </span>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}

              <!-- page nation -->
              {% if paginator.total_pages != 1 %}
              <div class="row">
                <div class="large-6 columns">
                  {% if paginator.previous_page %}
                  <p class="text-left" style="padding-top:25px;"> <a
                      href="{{ paginator.previous_page_path | relative_url }}">Prev Page «</a> </p>
                  {% endif %}
                </div>
                <!--
                <div class="large-6 columns">
                  <p class="text-right" style="padding-top:25px;">{{ paginator.page }} / {{ paginator.total_pages }}</p>
                </div>
                -->
                <div class="large-6 columns">
                  {% if paginator.next_page %}
                  <p class="text-right" style="padding-top:25px;"> <a
                      href="{{ paginator.next_page_path | relative_url }}">» Next Page</a> </p>
                  {% endif %}
                </div>
              </div>
              {% endif %}

            </div>
          </div>

          <!-- large 4 -->
          <div class="large-4 medium-4 columns">
            <div class="hide-for-small">

              {% include sidebar.html %}

            </div>
          </div>

        </div>
        <!-- row -->

      </section>
      <!-- section -->

    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

  {% include cookie-script.html %}

</body>

</html>