<!-- footer -->
<footer class="footer">
    <div class="page-bottom clearfix">
        <div class="row">
            <div class="col">
                <p class="copyright">
                    Copyright &copy; {{ site.author.name }} 2020 - Powered by <a target="_blank"
                        href="https://jekyllrb.com/">Jekyll</a>	,&nbsp; Proudly hosted by
                    <a target="_blank" href="https://Gitlab.com/">GitLab CI</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
