<!-- navigation bar -->
<nav class="top-bar docs-bar" data-topbar>
  <!-- <nav class="top-bar docs-bar hide-for-small" data-topbar> -->
  <!-- "hide-for-small" is in foundation.min.css -->
  <section class="top-bar-section">
    <div class="row">
      <div style="position: relative; width:100%;">
        <div style="position: absolute; width:100%;">
          <ul id="main-menu" class="left">
            <li><a target="_self" href="{{"/" | relative_url }}">Home</a></li>
            <li><a target="_self" href="{{"/about/" | relative_url }}">About</a></li>
            <li><a target="_self" href="{{"/archive/" | relative_url }}">Archive</a></li>
            <li><a target="_self" href="{{"/search/" | relative_url }}">Search</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</nav>