<script src="{{"/assets/highlightjs/highlight.pack.js" | relative_url }}"></script>
 <script>
   hljs.initHighlightingOnLoad();
 </script>

<script src="{{"/assets/js/foundation.min.js" | relative_url }}"></script>

<script>
    $(document).foundation();
    function fixSidebarHeight() {
        var w1 = $('.markdown-body').height();
        var w2 = $('#sidebar').height();
        if (w1 > w2) {
            $('#sidebar').height(w1);
        };
    }
    $(function() {
        fixSidebarHeight();
    })
    $(window).load(function() {
        fixSidebarHeight();
    });
</script>

<script type="text/javascript">
    $(function(){    
        var mwebii=0;    
        var mwebChartEleId = 'mweb-chart-ele-';    
        $('pre>code').each(function(){        
        mwebii++;        
        var eleiid = mwebChartEleId+mwebii;        
        if($(this).hasClass('language-sequence')){            
            var ele = $(this).addClass('nohighlight').parent();            
            $('<div id="'+eleiid+'"></div>').insertAfter(ele);            
            ele.hide();            
            var diagram = Diagram.parse($(this).text());            
            diagram.drawSVG(eleiid,{theme: 'simple'});        
        }else if($(this).hasClass('language-flow')){            
            var ele = $(this).addClass('nohighlight').parent();            
            $('<div id="'+eleiid+'"></div>').insertAfter(ele);            
            ele.hide();
            var diagram = flowchart.parse($(this).text());            
            diagram.drawSVG(eleiid);        
        }    
        });
    });
</script>
