<!-- site bar -->
<div id="sidebar" class="sidebar">
  <div id="site-info" class="site-info">
    <div class="site-a-logo"><img src="https://archive.floss.my.id/logo.png"></div>
    <h1><a href="{{ "/about" | site.url }}">{{ site.author.name }}</a></h1>
    <div class="site-des">
      <p style="text-align: left">{{ site.text.sidebar_msg }}</p>
    </div>
    <div class="social">
      <a target="_blank" class="facebook"
        href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Facebook">Facebook</a>
      <a target="_blank" class="twitter" target="_blank" href="https://twitter.com/intent/tweet?text=&url={{site.url}}{{page.url}}"
        title="Twitter">Twitter</a>
      <a target="_blank" class="email" href="mailto:?subject=&amp;body=Check out this site {{site.url}}{{page.url}}" title="Email">Email</a>
      <a target="_blank" class="linkedin" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title=&summary=&source=ngulik-addict"
        title="LinkedIn">LinkedIn</a>
      <a target="_blank" class="rss" href="{{ "/feed.xml" | absolute_url}}" title="RSS">RSS</a>
    </div>
  </div>
  <div id="site-categories" class="side-item ">
    <div class="side-header">
      <h2>Categories</h2>
    </div>
    <div class="side-content">
      <p class="cat-list">
        {% assign content = page.categories | strip_newlines %}
        {% if content == "" %}
          {% for category in site.categories %}
          {% capture category_name %}{{ category | first }}{% endcapture %}
          <a href="{{ "/category/" | absolute_url}}{{ category_name | downcase }}/"><strong>{{ category_name }}</strong></a>
          {% endfor %}
        {% else %}
          {% for category in page.categories %}
          <a href="{{ "/category/" | absolute_url}}{{ category | downcase }}/"><strong>{{ category }}</strong></a>
          {% endfor %}
        {% endif %}
      </p>
    </div>
  </div>
  <div id="site-categories" class="side-item ">
    <div class="side-header">
      <h2>Tags</h2>
    </div>
    <div class="side-content">
      <p class="cat-list">
        {% assign content = page.tags | strip_newlines %}
        {% if content == "" %}
          {% for tag in site.tags %}
          {% capture tag_name %}{{ tag | first }}{% endcapture %}
          <a href="{{ "/tag/" | absolute_url}}{{ tag_name | downcase }}/"><strong>{{ tag_name }}</strong></a>
          {% endfor %}
        {% else %}
          {% for tag in page.tags %}
          <a href="{{ "/tag/" | absolute_url}}{{ tag | downcase }}/"><strong>{{ tag }}</strong></a>
          {% endfor %}
        {% endif %}
      </p>
    </div>
  </div>
  <div id="site-categories" class="side-item">
    <div class="side-header">
      <h2>Recent Posts</h2>
    </div>
    <div class="side-content">
      <ul class="posts-list">
        {% for post in site.posts limit:7 %}
        <li class="post"> <a href="{{ post.url | relative_url }}">{{ post.title }}</a> </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!-- sidebar -->
