---
title: Archive
---
<!DOCTYPE html>

<html>

{% include head.html %}

<body class="antialiased hide-extras">

    <!-- data-offcanvas -->
    <div class="marketing off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

            <!-- header -->
            {% include navbar.html %}
            <header>
                <div class="masthead" id='masthead'></div>
            </header>

            <!-- main-content -->
            <section id="main-content" role="main" class="scroll-container">

                <!-- script -->
                <script type="text/javascript">
                    $(function () {
                        $('#menu_item_index').addClass('is_active');
                    });
                </script>

                <!-- row -->
                <div class="row">

                    <div class="markdown-body">

                        <h1>Archive</h1>

                        <ul class="posts">
                            {% for post in site.posts %}

                                {% capture year_of_current_post %}
                                {{ post.date | date: "%Y" }}
                                {% endcapture %}

                                {% capture year_of_previous_post %}
                                {{ post.previous.date | date: "%Y" }}
                                {% endcapture %}

                                {% if forloop.first %}
                                <h2>{{ year_of_current_post }}</h2>
                                <ul>
                                {% endif %}
                                    <li>
                                        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                                    </li>
                                {% if forloop.last %}
                                </ul>
                                {% else %}
                                {% if year_of_current_post != year_of_previous_post %}
                                </ul>

                                <h2>{{ year_of_previous_post }}</h2>
                                <ul>
                                {% endif %}
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                    <!-- row -->

            </section>
            <!-- section -->

        </div>
    </div>

    {% include footer.html %}

    {% include scripts.html %}

    {% include google-analytics.html %}

</body>

</html>