---
layout: default
---

<!-- article -->
<div class="article">
    <h1>A list post of {{ page.type }} '{{ page.title }}'</h1>
</div>
<br>
<!-- article-content -->
<div class="article-content">
    {% for post in page.posts %}
    <!-- article -->
    <div class="article">
        <a class="clearlink" href="{{ post.url | relative_url }}">
            <h1>{{ post.title }}</h1>
            <div class="a-content">
                <div class="a-content-text">
                    <p>{{ post.content | strip_html | truncatewords: 25 }}</p>
                </div>
            </div>
        </a>
        <div class="read-more clearfix">
            <div class="more-left left">
                <a href="{{ post.url | relative_url }}">Read more</a>&nbsp;&nbsp;
                <span class="date"><time>{{ post.date | date: '%B %d, %Y' }}</time></span>
                <span>author:&nbsp;</span>
                  {% assign author = site.data.authors[post.author] %}
                  <span class="posted-in"><a target="_blank" href="{{ author.profile }}">{{ author.name }}</a>
                  </span>
                <span>category:&nbsp;</span>
                {% for category in post.categories %}
                <span class="posted-in"><a href="{{ "/category/" | absolute_url}}{{ category | downcase }}">{{ category }}</a>
                </span>
                {% endfor %}
                <span>tags:&nbsp;</span>
                {% for tag in post.tags %}
                <span class="posted-in"><a href="{{ "/tag/" | absolute_url}}{{ tag | downcase }}">{{ tag }}</a>
                {% endfor %}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>