---
---
<!DOCTYPE html>

<html>

{% include head.html %}

<body class="antialiased hide-extras">

  <!-- data-offcanvas -->
  <div class="marketing off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

      <!-- header -->
      {% include navbar.html %}
      <header>
        <div class="masthead" id='masthead'></div>
      </header>

      <!-- main-content -->
      <section id="main-content" role="main" class="scroll-container">

        <!-- script -->
        <script type="text/javascript">
          $(function () {
            $('#menu_item_index').addClass('is_active');
          });
        </script>

        <!-- row -->
        <div class="row">

          <!-- large-8 -->
          <div class="large-8 medium-8 columns">
            <div class="markdown-body home-categories">

              <!-- article -->
              <div class="article">
                <h1>{{ page.title }}</h1>
                <div class="read-more clearfix">
                  <span class="date"><time>{{ page.date | date: '%B %d, %Y' }}</time></span>
                  <span>author:&nbsp;</span>
                  {% assign author = site.data.authors[page.author] %}
                  <span class="posted-in"><a target="_blank" href="{{ author.profile }}">{{ author.name }}</a>
                  </span>
                  <span>category:&nbsp;</span>
                  {% for category in page.categories %}
                  <span class="posted-in"><a href="{{ "/category/" | absolute_url}}{{ category | downcase }}">{{ category }}</a>
                  </span>
                  {% endfor %}
                  <span>tags:&nbsp;</span>
                  {% for tag in page.tags %}
                  <span class="posted-in"><a href="{{ "/tag/" | absolute_url}}{{ tag | downcase }}">{{ tag }}</a>
                  {% endfor %}
                  </span>
                </div>
              </div>

              <br>

              <!-- article-content -->
              <div class="article-content">
                {{ content }}
              </div>

              <!-- page nation -->
              {% if paginator.total_pages > 1 %}
              <div class="row">
                <div class="large-6 columns">
                  {% if paginator.previous_page %}
                  <p class="text-left" style="padding-top:25px;"> <a
                      href="{{ paginator.previous_page_path | relative_url }}">Prev Page</a> </p>
                  {% endif %}
                </div>
                <div class="large-6 columns">
                  {% if paginator.next_page %}
                  <p class="text-right" style="padding-top:25px;"> <a
                      href="{{ paginator.next_page_path | relative_url }}">Next Page</a> </p>
                  {% endif %}
                </div>
              </div>
              {% endif %}

            </div>
          </div>

          <!-- large 4 -->
          <div class="large-4 medium-4 columns">
            <div class="hide-for-small">

              {% include sidebar.html %}

            </div>
          </div>

        </div>
        <!-- row -->

      </section>
      <!-- section -->

    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>